server    = {% if 'servers' in group_names %}true{% else %}false{% endif %}

bootstrap-expect = {{ groups['servers'] | intersect(groups[group_names[0]]) | count }}

ui_config {
    enabled = {% if inventory_hostname == "dc1_master" %}true{% else %}false{% endif %}

}
datacenter = "{{ group_names[0] }}"
data_dir   = "consul/data"
log_level  = "INFO"
addresses {
    http = "{{ ansible_host }}"
}
connect {
    enabled = true
}