node "{{inventory_hostname}}" {
  policy = "write"
}
node_prefix "" {
   policy = "read"
}
service_prefix "" {
   policy = "read"
}
operator = "read"
acl = "read"    # might have to turn this back to "write" if needed for automated service token provisionning