[Unit]
Description=Custom service for Hashicorp Consul
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env consul agent -config-file /etc/consul.d/{% if 'servers' in group_names %}server{% else %}client{% endif %}/config.hcl

[Install]
WantedBy=multi-user.target